html,
body {
    /* Bật lên nếu bạn mún thêm ảnh nền */
    background-image: url("https://scontent.fdad1-4.fna.fbcdn.net/v/t1.15752-9/272763022_1339653399845433_7245721712460439292_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=ae9488&_nc_ohc=0GpS-kcDjkIAX_eJ8Qi&_nc_ht=scontent.fdad1-4.fna&oh=03_AVLHCxlTjc4S5UzJYJXt5hpJWQQpNQmi2wH-7d_l5dC21g&oe=634600C8");
    background-size: 100%;
    align-items: center;
}





