html,
body {
    /* Bật lên nếu bạn mún thêm ảnh nền */
    background-image: url("https://scontent.fdad1-3.fna.fbcdn.net/v/t1.15752-9/305240057_1451385975283337_715057704334829698_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=ae9488&_nc_ohc=Z0qTlmcJ3_sAX_yZDjn&_nc_ht=scontent.fdad1-3.fna&oh=03_AVIeqQmx-v5nCrBwuE2kcwB0UsirL65rcvBFz3XIHrsygA&oe=63449063");
    background-size: 100%;
    align-items: center;
}





